<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<h1 class="bg bg-success text-center my-5 text-white">Hello <span th:text="${client.nomClient}"></span></h1>
<h3 class="alert alert-dark p-3 my-1 rounded w-75 mx-auto text-center">Information sur Le client</h3>

<div class="list-group my-5">
 
  <a th:each="groupe:${client.comptes}" th:href="@{CompteDetails (idCompte=${groupe.codeCompte})}"  class="list-group-item list-group-item-action"  ><span th:text="${'Compte numero ' + groupe.codeCompte}"></span></a>

</div>

</body>
</html>