<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<h3 class="alert alert-dark p-3 my-1 rounded w-75 mx-auto text-center">La liste du cients</h3>
<div class="w-50 mx-auto ">

 
<div class="list-group my-5">
 
  <a th:each="groupe:${clients}" th:href="@{ClientDetails (id=${groupe.codeClient})}" class="list-group-item list-group-item-action"  ><span th:text="${groupe.nomClient}"></span></a>

</div>
</div>
<div class="w-50 mx-auto"><a th:href="@{clientAdd}" class="btn btn-primary w-50 mx-auto">Ajouter un client</a></div>

</body>
</html>