<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>

<body class="" >

<div th:replace="fragments/header :: header"></div>

<div class="justify-content-center form-row align-items-center mx-auto  my-5 rounded radius-4 p-3 bg-dark" style="border:1px solid white;width:410px">
<form  th:action="@{clients}" method="post" th:object="${client}">

<h1 class="text-center text-light">Ajouter un client</h1>

      <label for="inputName" class="col-sm-2 col-form-label text-light">Le nom</label>
      <input type="text" style="border:none" class="form-control" id="inputName" placeholder="nom" th:field="*{nomClient}">
   


  <div class="form-group row">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary mt-2">Ajouter</button>
    </div>
  </div>

</form>
  </div>

</body>
</html>