<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<div th:replace="fragments/header :: header"></div>


<h3 class="alert alert-dark p-3 my-1 rounded w-75 mx-auto text-center">Effectuer des opérations</h3>

<form method="post" th:action="@{/EmployeAdd}" th:object="${employe}" class="bg-dark my-5 mx-auto p-4" style="width:440px">

<label class="text-white">Nom Employe</label>
<input th:field="*{nomEmploye}" class="form-control my-2">
<label class="text-white my-1">Nom Employe Supérieur</label>
<select th:field="*{employeSup.codeEmploye}" class="form-select">
<option  th:each="prod,iterStat : ${employes}"  th:value="${prod.codeEmploye}" th:text="${prod.nomEmploye}"></option>
</select>
<input type="submit" class="btn btn-primary my-2">
</form>
</body>
</html>