<!DOCTYPE html >
<html xmlns:th="http://www.thymeLeaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<h3 class="alert alert-dark p-3 my-1 rounded w-75 mx-auto text-center">Le groupe : <span th:text="${groupe.nomGroupe}"></span></h3>

<div class="mx-auto bg-dark p-3 mt-5" style="width:540px">

<h3 class="text-light text-center">Les membres de groupe </h3>
<ul  class="list-group my-2  mx-auto text-light">
<li class="list-group-item " th:each="groupe:${groupe.employe}" th:text="${groupe.nomEmploye}"></li>

</ul>
<hr>
<h3 class="text-light text-center">Les autres employés </h3>
<ul class="my-2 list-group">

<li th:each="groupe:${grp}" th:text="${groupe.nomEmploye}" class="list-group-item"></li>

</ul>
<form th:action="@{/AddConfirmer}" method="post">
<input type="hidden" name="id_grp" th:value="${groupe.codeGroupe}">
<select name="id_emp" class="form-select mb-3">
<option  th:each="groupe:${grp}"  th:value="${groupe.codeEmploye}" th:text="${groupe.nomEmploye}"></option>
</select>
<input type="submit" class="btn btn-primary" value="Add to Group">
</form>
</div>

<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>