<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<h3 class="alert alert-dark p-3 my-1 rounded w-75 mx-auto text-center">Créer un groupe</h3>
<form th:action="@{AddGrupe}" method="post" class="mx-auto w-25 my-4" th:object="${groupe}">
<label><b>Le nom de groupe</b></label>
<input class="form-control my-2" th:field="*{nomGroupe}">
<input type="submit" class="btn btn-success">
</form>
</body>
</html>