<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link th:href="@{/css/styles.css}" rel="stylesheet">
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/4.9.95/css/materialdesignicons.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js" integrity="sha256-Zr3vByTlMGQhvMfgkQ5BtWRSKBGa2QlspKYJnkjZTmo=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css" integrity="sha256-mLBIhmBvigTFWPSCtvdu6a76T+3Xyt+K571hupeFLg4=" crossorigin="anonymous" />

</head>
<body>
<div th:replace="fragments/header :: header"></div>

<section class="section"> 
    <div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="text-dark">MM BanK</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="job-detail mt-2 p-4">
                <div class="job-detail-desc">
                    <p class="text-muted f-14 mb-3">Lancement d’une nouvelle version de l’ouverture des comptes à distance selon un processus
                                                    entièrement digitalisé, basé sur des technologies nouvelles, sécurisées et respectant les
                                                    exigences réglementaires en vigueur : Parcours client simple et intuitif et sécurisé en matière
                                                    de reconnaissance faciale, de lecture optique des documents et de signature digitale.</p>

                    <p class="text-muted f-14 mb-0">Contribution active dans le financement de l’économie à travers, les produits « Damane
                                                    relance » destinés à relancer l’activité des entreprises, particulièrement les TPME, et à travers
                                                    le programme « Intelaka » visant l’accompagnement des jeunes entrepreneurs;
                                                     .</p>
                </div>
                <hr>
                <ul class="list-inline mt-3 mb-0">
                    <li class="list-inline-item mr-3">
                        <a href="" class="text-muted f-15 mb-0 "><i class="mdi mdi-map-marker mr-2"></i>3659  Av. Moulay Ismail, Tanger 90060 </a>
                    </li>

                    <li class="list-inline-item mr-3">
                        <a href="" class="text-muted f-15 mb-0"><i class="mdi mdi-web mr-2"></i>Www.webmmbanque.co.in</a>
                    </li>

                    <li class="list-inline-item mr-3">
                        <a href="" class="text-muted f-15 mb-0"><i class="mdi mdi-email mr-2"></i>Webmm.bank@gmail.com</a>
                    </li>

                    <li class="list-inline-item mr-3">
                        <a href="" class="text-muted f-15 mb-0"><i class="mdi mdi-cellphone-iphone mr-2"></i>05 22 479 479</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>




    <div class="row">
        <div class="col-lg-12">
            <h3 class="text-dark mb-4">Pourquoi choisir MM BANK ?</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="job-detail job-list-box mt-4 p-4">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="company-brand-logo text-center mb-4">
                            <img src="images/featured-job/img-2.png" alt="" class="img-fluid mx-auto d-block">
                        </div>
                    </div>

                    <div class="col-lg-9">
                        <div class="job-list-desc candidates-profile-exp-desc">
                            <h5 class="f-19 mb-2"><a href="#" class="text-dark">Un accès permanent aux comptes 24h/24 et 7j/7</a></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="job-detail job-list-box mt-4 p-4">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="company-brand-logo text-center mb-4">
                            <img src="images/featured-job/img-3.png" alt="" class="img-fluid mx-auto d-block">
                        </div>
                    </div>

                    <div class="col-lg-9">
                        <div class="job-list-desc candidates-profile-exp-desc">
                            <h5 class="f-19 mb-2"><a href="#" class="text-dark">Une tarification transparente et compétitive</a></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="job-detail job-list-box mt-4 p-4">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="company-brand-logo text-center mb-4">
                            <img src="images/featured-job/img-5.png" alt="" class="img-fluid mx-auto d-block">
                        </div>
                    </div>

                    <div class="col-lg-9">
                        <div class="job-list-desc candidates-profile-exp-desc">
                            <h5 class="f-19 mb-2"><a href="#" class="text-dark">Une stratégie d’innovation permanente</a></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="job-detail job-list-box mt-4 p-4">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="company-brand-logo text-center mb-4">
                            <img src="images/featured-job/img-7.png" alt="" class="img-fluid mx-auto d-block">
                        </div>
                    </div>

                    <div class="col-lg-9">
                        <div class="job-list-desc candidates-profile-exp-desc">
                            <h5 class="f-19 mb-2"><a href="#" class="text-dark">Une expertise en Immobilier de près de 100 ans</a></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>