
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org">
<head>
  <meta charset="UTF-8">
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
  <title>Document</title>
 
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="bg-sucess my-2 text-center"><a th:href="@{/EmployeIndex}">To list</a></div>
<div class="bg-primary my-2 text-center">mmmmmmmm</div>
<div class="bg-primary my-2 text-center">mmmmmmmm</div>
<div class="bg-primary my-2 text-center">mmmmmmmm</div>
<a th:href="@{/test}">Click</a>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>

