<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<form th:action="@{versement}" method="PUT" >
<label>Montant</label>
<input name="montant">
<label>L'employe</label>
<input type="hidden" name="code" th:value="${mycompte}">
<select name="codeEmp">
<option  th:each="employe : ${employes}"  th:value="${employe.codeEmploye}" th:text="${employe.nomEmploye}"></option>
</select>
<input type="submit">
</form>
</body>
</html>