<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<h3 class="alert alert-dark p-3 my-1 rounded w-75 mx-auto text-center">L'opération de virement</h3>
<form th:action="@{virement}" method="PUT" class="bg-dark mx-auto p-3 my-5" style="width:350px">
<label class="text-light">Code Compte</label>
<input type="text"  class="form-control" name="cpte1" th:value="${mycompte}" >
<label class="text-light">Montant</label>
<input name="montant"  class="form-control">
<label class="text-light">L'employe</label>

<select name="codeEmp" class="form-select">
<option  th:each="employe : ${employes}"  th:value="${employe.codeEmploye}" th:text="${employe.nomEmploye}"></option>
</select>
<label class="text-light  ">Le code de compte distiné</label>
<select name="cpte2" class="form-select mb-3">
<option  th:each="compte : ${comptes}"  th:value="${compte.codeCompte}" th:text="${ compte.CodeCompte}"></option>
</select>

<input type="submit" class="btn btn-primary">
</form>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>